<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
        <listener class-name="com.qa.Extentmanager.Listener"/> <!-- Correct package name -->
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="sauceproject.testcase.checkoutpagetest"/>
      <class name="sauceproject.testcase.cartpagetest"/>
      <class name="sauceproject.testcase.LoginPageTest"/>
      <class name="sauceproject.testcase.productcataloguetest"/>
      <class name="sauceproject.testcase.finishpagetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
